In [16]:
import sqlite3
conn = sqlite3.connect('example.db')

In [17]:
cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS counter_data (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        timestamp DATETIME,
        json_data TEXT
    )
''')

In [38]:
cursor.execute("INSERT INTO counter_data (timestamp, json_data) VALUES (datetime('now'), 'example')")
conn.commit()

In [32]:
last_rows = cursor.execute("SELECT timestamp, json_data FROM counter_data ORDER BY id DESC LIMIT 2").fetchall()

In [37]:
print(last_rows)

[('2023-10-15 08:30:00', 'example'), ('2023-10-15 08:30:00', 'example')]